@page
@model FinalProyect.Pages.UsuariosEnConferenciaModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />

<div class="text-center">

    <div class="grid grid-cols-2 gap-8">

        <img src="~/images/logo.png" alt="Logo de la Institución" class="logo1 mb-8 justify-self-start" style="width: 25%; max-width: 100%; height: auto; margin-left:-100px" />

        <img src="~/images/logo2.png" alt="Segundo Logo" class="logo2 mb-8 justify-self-end" style="width: 15%; max-width: 100%; height: auto; margin-right:-100px; margin-top:20px" />

    </div>

</div>
<div class="bg-gray-200 p-8">
    <h1 class="text-3xl font-bold mb-6">Asistentes a la Conferencia</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
        @foreach (var asistente in Model.UsuariosEnConferencia ?? new List<Participante>())
        {
            <div class="bg-white rounded-lg overflow-hidden shadow-md">
                <img src="https://robohash.org/@asistente.Id/" class="w-full h-40 object-cover" alt="Avatar">

                <div class="p-4">
                    <h5 class="text-xl font-bold mb-2">@asistente.NombreCompleto</h5>
                    
                </div>
            </div>
        }
    </div>
</div>
