@page
@model FinalProyect.Pages.ConferenciasModel

<h1>Programa de Conferencias</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Horario</th>
                <th>Título</th>
                <th>Conferencista</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var conferencia in Model.Conferencias)
            {
                <tr>
                    <td>@conferencia.Horario.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@conferencia.Titulo</td>
                    <td>@conferencia.Conferencista</td>
                    <td>
                        <a asp-page="AsignacionConferencias" asp-route-conferenciaId="@conferencia.Id" class="btn btn-primary">
                            Registrarse
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="Index" class="btn btn-primary">Volver al Inicio</a>
</div>
