@page "{id:int}"
@model FinalProyect.Pages.EditarParticipanteModel
@{
    ViewData["Title"] = "Editar Participante";
}

<div class="text-center">

    <div class="grid grid-cols-2 gap-8">

        <img src="~/images/logo.png" alt="Logo de la Institución" class="logo1 mb-8 justify-self-start" style="width: 15%; max-width: 25%; height: auto; margin-left:-1000px" />

        <img src="~/images/logo2.png" alt="Segundo Logo" class="logo2 mb-8 justify-self-end" style="width: 15%; max-width: 10%; height: auto; margin-right:-1000px; margin-top:20px" />

    </div>

</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="card-body">
                    
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <form method="post">
                        <input type="hidden" asp-for="Participante.Id" />

                        <div class="form-group">
                            <label for="Nombre">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" asp-for="Participante.Nombre">
                            <span asp-validation-for="Participante.Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Apellidos">Apellidos:</label>
                            <input type="text" class="form-control" id="Apellidos" asp-for="Participante.Apellidos">
                            <span asp-validation-for="Participante.Apellidos" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Email">Email:</label>
                            <input type="email" class="form-control" id="Email" asp-for="Participante.Email">
                            <span asp-validation-for="Participante.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="UsuarioTwitter">Twitter ID:</label>
                            <input type="text" class="form-control" id="UsuarioTwitter" asp-for="Participante.UsuarioTwitter">
                            <span asp-validation-for="Participante.UsuarioTwitter" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Ocupacion">Ocupación:</label>
                            <input type="text" class="form-control" id="Ocupacion" asp-for="Participante.Ocupacion">
                            <span asp-validation-for="Participante.Ocupacion" class="text-danger"></span>
                        </div><br>

                        

                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
