@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

<style>
    body {
        background-color: #f8f9fa;
    }

    
    .logo1 {
        max-width: 350px;
        margin-bottom: 20px;
    }

    .logo2 {
        max-width: 210px;
        margin-bottom: 20px;
    }
</style>

<div class="text-center mt-5 bg-gray-100 p-8">
    
    <div class="grid grid-cols-2 gap-8">
        
        <img src="~/images/logo.png" alt="Logo de la Institución" class="logo1 mb-8 ml-auto -mt-8" />

        
        <img src="~/images/logo2.png" alt="Segundo Logo" class="logo2 mb-8" />
    </div>

    <h1 class="text-4xl font-bold mb-4">Congreso de Tecnologías de la Información</h1>
    <p class="text-lg">Bienvenido al registro de participantes.</p>
    <a asp-page="/ListadoParticipantes" class="btn btn-primary btn-lg mt-8">Entrar</a>
</div>
